<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
  <h1>{{ title }}</h1>
  <br/>
  {% if user %}
      <h2>用户：{{ user.name }}</h2>
      <h2>年龄: {{ user.age }}</h2>
  {% endif %}
  <hr/>
  {% for k,v in user.items %}
     <span>user-key:{{ k }}</span>
     <span>user-value:{{ v }}</span>
      <br/>
  {% endfor %}
  <hr/>
  <h2>爱好：</h2>
  {% if book_list %}
    {% for book in book_list %}
       <span style="color:red;font-weight: bold;">{{ book }},</span>
    {% endfor %}
  {% endif %}
</body>
</html>